@model IEnumerable<Core_WebApp.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <!--asp-action is the Tag helper to make http request to the create() action method
            from the CategoryController-->
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <!--The HTML Helper Methods those run at server-->
                <!--Html.DisplayNameFor will generate <span>-->
                @Html.DisplayNameFor(model => model.CategoryRowId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!--Iterator over the data from Model to genetrate View-->
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryRowId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePrice)
            </td>
            <td>
                <!--Html.ActionLink generate <a> tag-->
                @Html.ActionLink("Edit", "Edit", new {  id=item.CategoryRowId }) |
                @Html.ActionLink("Delete", "Delete", new {id=item.CategoryRowId })
            </td>
        </tr>
}
    </tbody>
</table>
