@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div class="container">
    <h2>
        Error Occured in Controller @Model.ControllerName
    </h2>

    <h2>
        Error Occured in Action Method @Model.ActionName
    </h2>
    <h2>
        Error message is @Model.ErrorMessage
    </h2>
</div> 

<br />
<a asp-action="@Model.ActionName" asp-controller="@Model.ControllerName">Go Back</a>  